$bgcolor:rgb(102, 13, 13);

@mixin media {
    @media (max-width:900px) {
        
    &{
    display:grid;
    grid-template-columns:repeat(1,auto);
    background:$bgcolor ;
    }
}
}

.loading{
    display: flex;
    align-items: center;
    margin-top: 14px;
    color: #fff;
}
.Container{
    display: grid;
    grid-template-columns: auto auto auto;
    background:$bgcolor ;
    @include media();
   
        img{
            width:400px;
            height: 400px;
            padding: 10px;
        }
  
}
.movies{
    border: 1px solid #fff;
    padding: 20px;
    a{
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: #fff;
        color: $bgcolor;
        border-radius: 2px;
        padding: 10px;
        text-decoration: none;
    }
}
.title_movie{
    color: #fff;
    border-bottom: 1px solid #fff;
}
